/*********** BASE / RESET STYLES ***********/

body {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #3c3c3c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: middle;
    height: auto;
}
