/*********** BASE / RESET STYLES ***********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--txt-body);
    background-color: var(--bg-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

button {
    color: inherit;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

input {
    &:focus {
        outline: none;
  }
}

img {
    vertical-align: middle;
    height: auto;

  &.img-responsive {
    width: 100%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* ::-webkit-scrollbar {
  display: none;
} */

// customized scrollbar (chrome)
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.30);
  border-radius: 10px;

  &:hover {
    background: rgba(0,0,0,.50);
    cursor: grab;
  }

  &:focus {
    cursor: grabbing;
  }
}