/******************* BUTTONS *******************/
@use "colors" as *;
@use "layout" as *;

/* BUTTONS */

// default
.btn,  %btn {
  @extend %card;
  @include flexCenter;
  width: auto;
  padding: 12px;
  border: 1px solid white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

  &:hover, &.selected {
    box-shadow: none;
  }

  &.selected {
    cursor: default;
  }
}

// primary actions
.btn-primary, %btn-primary {
  @extend %btn;
  border-color: var(--primary-color);
  color: white;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  svg {
    fill: white;
  }

  &:hover, &.selected {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: white;

    svg {
      fill: var(--primary-color);
    }
  }
}

.btn-delete {
  @extend %btn;
  width: 16px;
  height: 16px;
  padding: 0;
  border-color: $secondary-color;
  line-height: 1;
  color: $secondary-color;
  background-color: transparent;
}

// secondary actions
.btn-secondary, %btn-secondary {
  @extend %btn;
  color: var(--primary-color);

  svg {
    fill: var(--primary-color);
  }

  &:hover, &.selected {
    border-color: var(--primary-color);
  }

  &.selected {
    color: white;
    background-color: var(--primary-color);
  }
}

// popups and modals's trigger
.trigger {
  &.is-open {
    .popup {
      @include flexAlign(column, .75rem, start);
      top: 4rem;
    }
  }
}

/* BUTTONS GROUPS */
.time-container, .time-controls, .action-tools {
  @include flexAlign(row, .75rem);

  .btn-primary, .btn-secondary {
    width: 44px;
    height: 44px;
    padding: 0;

    svg {
      width: 28px;
    }
  }
  
  //.btn-primary { }
  //.btn-secondary { }
}

.time-container {
  gap: 1.25rem;
}

.time-controls {
  gap: .5rem;

  .btn-secondary {
    width: 36px;
    height: 36px;

    svg {
      fill: $secondary-color;
    }

    &:hover {
      border-color: $border-color;
    }
  }

  .time-display {
    @include flexCenter;
    height: 40px;
    padding-inline: 1rem;
    border: 1px solid $border-color;
  }
}
