/******************* COLORS *******************/  // https://coolors.co/004877-52c9e8-6c6f70-00add8-00325a-9ed6e0-ced4da-dfe3e8-e8ebef-f0f2f6
:root {
/************** CEVA COLOR CHART **************/

/* CORPORATE COLORS */
--ceva-blue:        #004877; // Ceva Corporate Blue
--ceva-aqua:        #52c9e8; // Ceva Aqua Blue 
--ceva-slate:       #6C6F70; // Ceva Slate

/* DYNAMIC SUPPORTING COLORS PALETTE */
--ceva-one:         #00add8; // One Ceva
--ceva-health:      #89bd2c; // One Health
--ceva-planet:      #61C1C3; // One Planet
--ceva-dn-yellow:   #ffc72c; // PANTONE 123 C
--ceva-dn-orange:   #ff8200; // PANTONE 151
--ceva-dn-red:      #a32b26; // PANTONE 7623 C

/* NATURAL SUPPORTING COLORS PALETTE */
--ceva-nt-blue:     #00325a; // PANTONE 540 C
--ceva-nt-aqua:     #9ed6e0; // PANTONE 629 C
--ceva-nt-teal:     #026691; // PANTONE 634 C
--ceva-nt-red:      #b45240; // PANTONE 7593 C
--ceva-nt-yellow:   #dfa83d; // PANTONE 1245 C
--ceva-nt-green:    #84a369; // PANTONE 7494 C

/* PORTALS */
--genesys-blue:     #3829ff; // Genesys Blue
--egginject-blue:   #30377d; // EggInject Blue
--dovac-blue:       #006fb2; // Dovac Blue
--laserlife-blue:   #1d286e; // Laser Life Blue
--inline-blue:      #064b8b; // Inline Blue

/************** VARIANTS **************/

--ceva-white:       white;
--ceva-dark:        #00223d; // Ceva Dark blue
--ceva-darker:      #001629; // Ceva Darker blue
--ceva-black:       #00111f; // Ceva Black blue

/* SUPPORT GREYS */
--platinum-grey:    #f0f2f6;
--alabaster-grey:   #e8ebef;
--pale-slate-grey:  #ced4da;
--olive-grey:       #909396;
--dark-grey:        #3c3c3c;

--neutral-color:    rgba(255, 255, 255, 0.24);
--neutral-text:     rgba(0, 0, 0, 0.24);

/************** DESIGN SYSTEM COLORS **************/

--bg-default:   var(--alabaster-grey);
--bg-primary:   var(--ceva-white);
--bg-secondary: var(--ceva-nt-blue);
--bg-selected:  var(--ceva-nt-blue);

--bg-sidenav:   var(--platinum-grey);
--bg-side-hov:  var(--pale-slate-grey);
  
--txt-body:     var(--dark-grey);
--txt-default:  var(--ceva-slate);
--txt-primary:  var(--ceva-nt-blue);
--txt-secondary:var(--ceva-white);

--highlight-color: var(--ceva-one);

--female-color: var(--ceva-one);
--male-color: var(--ceva-dn-yellow);

  /*
  --bg-light:       var(--ceva-nt-blue);
  --bg-dark:        var(--ceva-black);
  --bg-hover:       var(--ceva-nt-blue);
  --bg-selected:    var(--ceva-black);

  --txt-default:    var(--ceva-slate);
  --txt-neutral:    var(--neutral-text);
  --txt-primary:    var(--ceva-nt-blue);
  --txt-secondary:  var(--ceva-white);
  --txt-highlight:  var(--highlight-color);

  --border-color:   var(--highlight-color);
  --border-light:   var(--bg-light);
  --border-dark:    var(--black-color);
*/
    &.dark-theme {
        --bg-primary:     var(--ceva-darker);
        --bg-secondary:   var(--ceva-white);
        --bg-light:       var(--ceva-nt-blue);
        --bg-dark:        var(--ceva-black);
        --bg-hover:       var(--ceva-nt-blue);
        --bg-selected:    var(--ceva-black);

        --txt-body:       var(--body-color);
        --txt-default:    var(--ceva-slate);
        --txt-neutral:    var(--neutral-text);
        --txt-primary:    var(--ceva-nt-blue);
        --txt-secondary:  var(--ceva-white);
        --txt-highlight:  var(--highlight-color);

        --border-color:   var(--highlight-color);
        --border-light:   var(--bg-light);
        --border-dark:    var(--black-color);
    } 
}

/************** DESIGN SYSTEM COLORS **************/

/* COLOR PALETTE */
$primary-color: var(--ceva-nt-blue);
$secondary-color: var(--ceva-body-color);
$highlight-color: var(--ceva-ceva-color);
$success-color: var(--ceva-health-color);
$warning-color: var(--ceva-dn-yellow);
$alert-color: var(--ceva-dn-orange);
$danger-color: var(--ceva-dn-red);

/* LAYOUT and ELEMENTS */
$bg-primary: var(--platinum-grey);
$bg-light: var(--pale-slate-grey);
$bg-lighter: var(--alabaster-grey);
$bg-selected: var(--primary-color);
$bg-ninja: rgba(255, 199, 44, .5);

$border-color: var(--pale-slate-grey);
$border-color-light: var(--alabaster-grey);
$border-color-dark: var(--olive-grey);

//$bg-color-light:#dfe3e8;

/************** THEMES **************/

/* PORTALS THEMES */
.portal-theme {
    // Genesys Theme
    &#genesys {
        header {
            background-color: var(--genesys-blue);
        }

        &.full-theme {
            --primary-color: var(--genesys-blue);

            &.full {
                .sidebar .selected, 
                .sidebar .selected figure, 
                footer {
                    background-color: var(--genesys-blue);
                }
            }
        }
    }
    // EggInject Theme
    &#egginject {
        header {
            background-color: var(--egginject-blue);
        }

        &.full-theme {
            --primary-color: var(--egginject-blue);

            &.full {
                .sidebar .selected, 
                .sidebar .selected figure, 
                footer {
                    background-color: var(--egginject-blue);
                }
            }
        }
    }
    // Laserlife Theme
    &#laserlife {
        header {
            background-color: var(--laserlife-blue);
        }

        &.full-theme {
            --primary-color: var(--laserlife-blue);

            &.full {
                .sidebar .selected, 
                .sidebar .selected figure, 
                footer {
                    background-color: var(--laserlife-blue);
                }
            }
        }
    }
    // Dovac Theme
    &#dovac {
        header {
            background-color: var(--dovac-blue);
        }

        &.full-theme {
            --primary-color: var(--dovac-blue);

            &.full {
                .sidebar .selected, 
                .sidebar .selected figure, 
                footer {
                    background-color: var(--dovac-blue);
                }
            }
        }
    }
    // Inline Theme
    &#inline {
        header {
            background-color: var(--inline-blue);
        }

        &.full-theme {
            --primary-color: var(--inline-blue);

            &.full {
                .sidebar .selected, 
                .sidebar .selected figure, 
                footer {
                    background-color: var(--inline-blue);
                }
            }
        }
    }
}

/* CLASSES */
.primary-color { color: $primary-color; }
.warning-color { color: $warning-color; }
.alert-color { color: $alert-color !important; }
.danger-color { color: $danger-color; }

.genesys-blue { color: #3829ff; }
.egginject-blue { color: #30377d; }
.dovac-blue { color: #006fb2; }
.laserlife-blue { color: #1d286e; }
.inline-blue { color: #064b8b; }
