/******************* COMPONENTS *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;
@use "objects";

/* NAV */

// home nav
 .main-nav {
  @include flexBetween;
  flex-wrap: wrap;
  row-gap: .75rem;
  width: 96%;

  a {
    width: 48%;
    height: 80px;
    padding: 24px;
    @extend %btn;
    border-color: $border-color-light;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: $primary-color;
    }

    img {
      width: 100%;
    }
  }
    
  // media queries
  @include mq-sm {
    width: 90%;

    a {
      width: 33%;
      height: 120px;
      padding: 28px;
    }
  }

  @include mq-md {
    width: 80%;

    a {
      width: 18%;
      height: 120px;
      padding: 32px;
    }
  }
}

/* MODALS */

// default popup
.popup {
  @extend %card;
  @include flexAlign(column, .75rem, start);
  position: absolute;
  right: 0;
  z-index: 3;
  min-width: 120px;
  max-height: 80vh;
  overflow: auto;
  padding: 1.5rem;
  text-align: left;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-12px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s linear 0.2s;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s;
  }

  .pp-title {
    color: var(--primary-color);;
  }

  .pp-content {
    @include flex(row, 1rem);

    .filters {
      @include flex(column, 1rem);
    }

    .advanced-filters {
      @include flex(column, 1rem);
    }

    .top-filters {
      @include flex(row, 1rem);
    }
  }
}
