/******************* CONFIG *******************/
@use "sass:list";

/* FLEX KIT */

// flex col
@mixin flex($direction: column, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

// alignements
@mixin flexAlign($direction: row, $gap: 0, $align: center) {
  @include flex($direction, $gap);
  align-items: $align; // start | center | end | stretch
}

@mixin flexJustify($direction: row, $gap: 0, $justify: center) {
  @include flex($direction, $gap);
  justify-content: $justify; // start | center | end | space-between | space-around | space-evenly
}

// fullcenter
@mixin flexCenter($direction: column, $gap: 0) {
  @include flex($direction, $gap);
  align-items: center;
  justify-content: center;
}

// distributions
@mixin flexBetween($direction: row, $gap: 0, $align: center) {
  @include flex($direction, $gap);
  align-items: $align;
  justify-content: space-between;
} 

// items
@mixin flexGrow($direction: column, $gap: 0, $grow: 1) {
  @include flex($direction, $gap);
  flex-grow: $grow;
}

/* MEDIA QUERIES */
// min resolution supported: 390px

// mq tool
@mixin mq($min) {
  @media (min-width: $min) { @content; }
}

@mixin mqx($max) {
  @media (max-width: $max) { @content; }
}

// common breakpoints (=> https://tailwindcss.com/docs/responsive-design)
@mixin mq-sm {
  @media (min-width: 640px) { @content; }
}

@mixin mq-md {
  @media (min-width: 768px) { @content; }
}

@mixin mq-lg {
  @media (min-width: 1024px) { @content; }
}

@mixin mq-xl {
  @media (min-width: 1280px) { @content; }
}

@mixin mq-2xl {
  @media (min-width: 1536px) { @content; }
}

// classes
.xxl-screen {
  @include mq(1920px) {
    display: flex;
  }
}

/* TAILWIND LIKE CLASSES */

.h-full {
  height: 100%;
}

.pl-1 {
  padding-left: 1rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

// flex
.flex-center {
    @include flexCenter(column, 1rem);

    &.temp {
      gap: 4rem;
      padding-top: 4rem
    }
}

.flex-align {
    @include flexAlign(row, 1rem);

    &.start {
      align-items: flex-start;
    }
}

.gap-8 {
  @include flex(row, 2rem);
}

.flex-0 {
  flex: 0 !important;
}

.flex-1 {
  flex: 1 !important;
}

// bg & borders
.rounded { border-radius: 100%; }

/* TOOLS */

// text
@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* TRANSITIONS */

// one(/all) propriety
@mixin transition($prop: all, $duration: 0.24s, $timing: ease, $delay: 0s) {
  transition: #{$prop} #{$duration} #{$timing} #{$delay};
}

// several proprieties
@mixin transitions($props, $duration: 0.24s, $timing: ease, $delay: 0s) {
  $out: ();
  @each $p in $props {
    $out: list.append($out, #{$p} #{$duration} #{$timing} #{$delay}, comma);
  }
  transition: $out;
}