/******************* LAYOUT *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;
@use "objects";

/* ELEMENTS */

/*********** LAYOUT ***********/

/* LEFT MENU */
.sidebar {
    @include flex;
    position: fixed;
    z-index: 1;
    width: var(--sidebar-collapsed);
    height: 100%;
    background-color: var(--bg-sidenav);
    @include transition(width);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);

    li {
        a, button {
            @include flexAlign;
            height: var(--sidebar-collapsed);
            @include transition(gap);

            figure {
                @include flexCenter;
                position: relative;
                z-index: 2;
                width: var(--sidebar-collapsed);
                padding-inline: 4px;
                background-color: var(--bg-sidenav);

                svg {
                    width: 20px;
                    fill: var(--txt-default);
                }
            }

            span {
                position: relative;
                z-index: 1;
                width: 0;
                max-width: 200px;
                font-size: $sm-txt;
                @include ellipsis;
                transform: translateX(-152px);
                opacity: 0;
                @include transitions((width, padding, transform, opacity));
            }

            > svg {
                display: none;
                transform: translateX(-152px);
            }

            &:hover {
                background-color: var(--bg-side-hov);

                figure {
                    background-color: var(--bg-side-hov);
                }
            }
        }

        &.selected {
            font-weight: bold;
            color: var(--txt-secondary);
            background-color: var(--bg-selected);
            cursor: default;
            
            figure {
                background-color: var(--bg-selected);  

                svg {
                    fill: var(--bg-primary);
                }
            }
            
            a:hover {
                cursor: default;
            }
        }

        &:first-child, &:nth-child(2), &.selected {
            :hover {
                background-color: initial;
                
                figure {
                    background-color: initial;
                }
            }
        }

        &.menu-filter {
            .filter-list {
                display: none;
                padding-inline: .5rem;
                transform: translateY(-48px);
                transition: max-height var(--tr), opacity var(--tr), transform var(--tr);

                .filter-panel {
                    background-color: var(--bg-primary);
                    border: 1px solid #d9dde3;
                }
            }

            &.is-open {
                .filter-list { 
                    max-height: 240px;
                    opacity: 1;
                    transform: translateY(0);
                    transition: max-height var(--tr), opacity var(--tr), transform var(--tr);
                }
            }
        }
    }

    &:hover {
        width: var(--sidebar-expanded);

        li {
            a, button {
                gap: .5rem;

                span {
                    width: 200px;
                    padding-inline: 12px;
                    transform: translateX(0px);
                    opacity: 1;
                }

                > svg {
                    display: block;
                    transform: translateX(0);
                }
            }

            button {
                span {
                    width: 160px;
                }
            }

            .filter-list {
                display: block;
            }
        }
    }
}

/* FIXED FOOTER */
footer {
    @include flexBetween;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    font-size: $sm-txt;
    color: var(--txt-secondary);
    background-color: var(--bg-secondary);
    
    // media queries
    @include mq-sm { padding-inline: 2rem; }
    @include mq-lg { padding-inline: 4rem; }
    @include mq-xl { padding-inline: 8rem; }

    figure {
        @include flexAlign(row, .5rem);
    }

    ul {
        display: none;
        @include mq-md {
            @include flex(row, 1rem);
        }
    }
}

/* CONTENT */
.content-wrapper {
    @include flexGrow;
    padding-left: var(--sidebar-collapsed); // space for sidebar
    padding-bottom: var(--footer-h); // space for footer
    background-color: var(--bg-default);

    &.w-home {
        background-color: var(--bg-primary);
    }
}

header {
    @include flexBetween(row, .75rem);
    height: var(--header-h);
    min-height: var(--header-h);
    flex: 0 0 var(--header-h);
    flex-shrink: 0;
    padding-inline: 1rem;
    background-color: var(--bg-secondary);
    
    .h-left-side {
        @include flex(row);

        img {
            height: 60px;
        }
    }

    .h-right-side {
        @include flex(row, 1rem);
        align-items: center;

        button:nth-child(2) {
            .popup {
                width: 200px;
            }
        }
    }

    .menu-filter {
        position: relative;
        
        .filter-btn {
            @include flexAlign(row, .25rem);
            justify-content: space-between;
            width: 100%;
            height: 40px;
            padding-inline: .5rem;
            color: var(--txt-secondary);
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 8px;

            span {
                position: relative;
                z-index: 1;
                max-width: 200px;
                font-size: $sm-txt;
                @include ellipsis;
            }

            &:hover {
                border-color: white;
            }
        }

        .filter-list {
            position: absolute;
            top: 48px !important;
            left: 0 !important;
            padding: 0;
            border-radius: 8px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
            visibility: hidden;
            pointer-events: none;
            transform: translateY(-12px);
            transition: opacity var(--tr), transform var(--tr), visibility 0s linear 0.24s;
        }

        &.is-open {
            .filter-list { 
                max-height: 240px;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transform: translateY(0);
                transition: opacity var(--tr), transform var(--tr), visibility 0s;
            }
        }
    }
    
    // media queries    
    @include mq-sm {
        padding-inline: 1.25rem;

        .h-right-side {
            gap: 1.5rem;
        }
    }
        
    @include mq-md {
        padding-inline: 1.5rem;

        .h-right-side {
            gap: 2rem;
        }
    }

    &.h-home {
        background-color: var(--highlight-color);

        .h-left-side {
            flex-direction: column;

            .brand-name {
                @include brand-txt;
                line-height: 1;
                color: var(--txt-secondary);
            }

            .tagline {
                font-family: $jura;
                font-size: $sm-txt;
                color: var(--txt-primary);
            }

            @include mq-sm {
                gap: .25rem;
                .brand-name {font-size: $xl-txt; }
                .tagline { font-size: $md-txt; }
            }
        }
    }

    &:not(.h-home) {
        .h-left-side {
            align-items: center;
            gap: 4rem;
        }
    }
}

main {
    @include flexGrow;
    align-items: center;
    overflow: hidden;
}

/* MAIN CONTENT */
section {
    @include flex;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.section-header {
    @include flex;
    row-gap: .75rem;
    justify-content: space-between;
    height: 48px;
    min-height: 48px;
    flex: 0 0 48px;
    flex-shrink: 0;

    ul {
        @include flex(row, 1rem);

        li {
            display: flex;
        }

        a {
            @extend %btn-secondary;
            font-weight: bold;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: -.5px;
        }
    }

    #clock, .time-display {
        @include time-txt;
        color: var(--txt-default);
    }

    &.sh-home {
        justify-content: flex-end;
    }

    @include mq(1160px) {
        @include flexAlign;
    }
}

.scene {
    @include flexGrow(column, 2rem);
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;

    &.sc-home {
        align-items: center;
        justify-content: center;

        .hero {
            @include flex(column, 1.5rem);

            .h-tagline {
                @include brand-txt;
                font-size: $xl-txt;
                color: var(--txt-primary);
            }
        }
        // media queries
        @include mq-sm {
            gap: 6rem;

            .hero .h-tagline {
                font-size: 48px;
            }
        }
    }
}

/* DASHBOARDS SPECIFIC STYLES */
.dashboard {
    section {
        gap: 1.5rem;
    }

    .scene {
        gap: 1rem;

        &.dash-home {
            gap: 3rem;
            padding-inline: .5rem;

            .card-wrapper {
                @include flex (column, .5rem);
                width: 100%;
            }

            figure {
                width: 80%;
                position: relative;

                img {
                    width: 100%;
                }

                svg {
                    position: absolute;
                    width: 52px;
                    fill: $alert-color;

                    &.svg-1 {
                        top: 36%;
                        left: 24%;
                    }

                    &.svg-2 {
                        top: 48%;
                        right: -2%;
                    }
                }
            }

            .content {
                width: 100%;
            }

            .row-line {
                padding-inline: 0 12px;

                .line {
                    @include flexAlign(row, .5rem);
                    width: 80%;

                    svg {
                        width: 48px;
                        fill: var(--primary-color);
                    }
                }

                .line-end {
                    @include flex;
                    justify-content: center;
                    align-items: flex-end;
                    width: 20%;

                    span:first-child {
                        font-size: 18px;
                        font-weight: bold;
                    }

                    span:nth-child(2) {
                        font-style: italic;
                        color: $secondary-color;
                    }
                }
            }

            .card-header {
                @include flexJustify(row, 0, space-between);
                @extend %card;
                padding: 0;

                .card-title {
                    padding: 16px;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    font-size: $lg-txt;
                    text-transform: none;
                    color: var(--txt-secondary);
                    background-color: var(--bg-secondary);
                }

                .card-title-side {
                    @include flexCenter (row);
                    padding-right: 32px;
                    font-size: $lg-txt;
                    font-weight: bold;
                    color: var(--txt-primary);
                }
            }

            .card-body { 
                @extend %card;
                padding: 0;
                padding-inline: 20px;
            }

            .card-footer {
                @extend %card;
                padding: 0;

                .row-line {
                    padding-inline: 24px 32px;

                    .line-end {
                        span:first-child {
                            font-size: $lg-txt;
                        }
                    }
                }

                .footer-title {
                    font-size: $lg-txt;
                    color: var(--primary-color);
                }
            }

            // media queries
            @include mq-lg {
                flex-direction: row;
                padding-top: 6rem;

                figure {
                    width: 50%;
                }

                .content {
                    width: 50%;
                }
            }
            
            @include mq(1160px) {
                @include flexAlign(row, 2rem, start);
            }

            @include mq-xl {
                gap: 6rem;
                padding-inline: 3rem;

                figure {
                    width: 60%;
                }

                .content {
                    width: 40%;
                }
            }
        }
    }
}

/******* CONTENT STRUCTURE *******/
    
/* CONTAINERS */
.card-wrapper {
    @include flex (row, 1rem);
    width: 100%;
}

.dashboard-1 {
    .content-full { width: 100%; }
    .content-left {
        width: 60%;
    }
    .content-right {
        width: 40%;
    }

    .content-middle {
        @include flexGrow (row, 1rem);
        overflow: hidden;

        .content-left, .content-right {
            flex-direction: column;
        }

        .content-right {
            .card {
                &:last-child {
                    flex: 1;
                }
            }
        }
    }
}

.dashboard-2 {
    .card-wrapper {
        height: 100%;
        max-height: 100%;
    }
}

.dashboard-3 {
    .card-wrapper {
        flex: 1;
    }
}

.dashboard-5 {
    .card-wrapper {
        &:last-child {
            flex: 1;
            
            .card {
                flex: 1;
            }
        }
    }

    .card.chart-card.combined-columns .cols {
        padding-bottom: 21.5px;
    }
}

/* NINJA */

// hide
.hide { display: none !important; }
.hidden { color: $bg-lighter !important; }

// comment
.ninja-4th-wall {
    display: none;
    position: absolute;
    z-index: 0;
    top: 92px;
    left: 56px;
    width: fit-content;
    padding: 2px;
    font-size: $sm-txt;
    font-style: italic;
    color: var(--txt-default);
    background-color: $bg-ninja;

    &.a-right {
        top: 102px;
        left: initial;
        right: 16px;
    }

    @include mq-2xl {
        @include flex(row, .5rem);
    }
}
