/******************* OBJECTS *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;

/* PLACEHOLDERS */

// card
.card, %card {
  padding: 1rem;
  background-color: var(--bg-primary);
  border-radius: 8px;

  .card-title {
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    h2 {
      @include flex(row, 1rem);
      align-items: center;
      height: 32px;
      color: var(--txt-primary);
      //color: var(--txt-default);
    }

    svg {
      width: 32px;
      fill: var(--txt-primary);

      &.alert {
        fill: $alert-color;
      }
    }

    figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        background-color: var(--bg-secondary);
        border-radius: 100%;

        img {
            width: 20px;
        }

      &.svg-icon {
        svg {
            width: 20px;
            fill: var(--txt-secondary);
        }
      }
    }
  }

  .title-data {
    font-size: $xl-txt;
    font-weight: bold;
    color: var(--highlight-color);
  }

  .row-line {
    display: flex;
    padding: 8px 16px;
    padding-right: 32px;
    border-bottom: 1px solid $border-color-light;

    span {
      font-size: $sm-txt;
    }
    /* zebra striping */
    &:nth-child(odd) { background: transparent; }
    &:nth-child(even) { background: rgba(0, 0, 0, 0.02); }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--bg-sidenav);
      cursor: pointer;
    }

    &.selected {
      color: var(--highlight-color);
      //background-color: var(--bg-side-hov);
      cursor: default;
    }
  }

  &.kpi-card {
    @include flexGrow(row);
    align-items: center;
    justify-content: space-between;

    &:first-child {
      width: 40%;
    }

    &:nth-child(2) {
      width: 60%;
    }
  }

  &.table-card {
    @include flex(column);
    width: 100%;

    .card-title {
      padding-right: 1rem;
    }

    .table {
      @include flexGrow(column);
      overflow: hidden;
    }

    .table-head {
      display: flex;
      padding: 1rem;
      padding-right: 2rem;
      font-weight: bold;
      color: var(--txt-primary);
      box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.18);
    }
    
    .table-body {
      flex: 1;
      overflow: hidden;

      .table-body-container {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;
      }
    }

    &.col-4 {
      height: 44%;
      
      .table-head, .row-line {
        span {
          &:first-child { width: 15%; }
          &:nth-child(2) { width: 40%; }
          &:nth-child(3) { width: 30%; }
          &:nth-child(4) { width: 15%; }
        }
      }
    }

    &.col-5 {
      .table-head, .row-line {
          span {
              &:first-child { width: 14%; }
              &:nth-child(2) { width: 18%; }
              &:nth-child(3) { width: 32%; }
              &:nth-child(4) { width: 18%; }
              &:last-child { width: 18%; }
          }
      }
  
      .row-line {
          padding: 12px 16px;

          span {
              font-size: 16px;
          }
      }
    }

    &.col-6 {
      height: 54%;

      .table-head, .row-line {
        span {
          &:first-child { width: 6%; }
          &:nth-child(2) { width: 24%; }
          &:nth-child(3) { width: 20%; }
          &:nth-child(4) { width: 22%; }
          &:nth-child(5) { width: 14%; }
          &:last-child { width: 14%; }
        }
      }
    }

    &.col-7 {
      .table-head, .row-line {
        span {
          width: 14%;
          &:first-child { width: 16%; }
        }
      }

      .table-body {
        span {
          &:first-child {
              font-style: italic;
              color: $secondary-color;
          }
        }
      }
    }

    &.col-11 {
      .table-head, .row-line {
        span {
          &:first-child { width: 9%; }
          &:nth-child(2) { width: 14%; }
          &:nth-child(3) { width: 12%; }
          &:nth-child(4) { width: 8%; }
          &:nth-child(5) { width: 11%; }
          &:nth-child(6) { width: 8%; }
          &:nth-child(7) { width: 8%; }
          &:nth-child(8) { width: 8%; }
          &:nth-child(9) { width: 8%; }
          &:nth-child(10) { width: 8%; }
          &:last-child { width: 6%; }
        }
      }
  
      .row-line {
        padding: 12px 16px;

        span {
          font-size: 16px;
        }
      }
    }
  }

  &.graph-card {
    .card-data {
      @include flex(row, 1rem);
      padding: 1rem;

      &.graph-data {
        flex-direction: column;
      }

      figure {
        position: relative;
      }

      .txt-data {
        @include flex;
        justify-content: space-between;
        width: 100%;
        padding-block: 1rem;
        padding-left: 1rem;

        .data-content {
          @include flex(column, .75rem);
        }

        .data-line {
          @include flex(row);
          justify-content: space-between;

          .v-female, .v-male {
            font-weight: bold;
          }
        }

        > .data-line {
          align-self: flex-end;

          .title-data {
            font-size: $md-txt;
          }
        }

        .line-title {
          @include flex(row, .5rem);
        }

        .dot {
          @include flexCenter;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          background-color: var(--female-color);

          &.male {
            background-color: var(--male-color);
          }
        }

        svg {
            width: 20px;
            fill: var(--txt-secondary);
        }
      }
    }

    &:last-child {
      flex: 1;
    }

    &.line-chart {
      .card-data {
        flex-direction: column;
        position: relative;

        .data-bg {
          @include flex(row, 1rem);
        }

        .data-bottom {
          @include flex(row, 1rem);
        }

        .chart-content {
          @include flex(row, 1rem);

          .bar {
            width: 48px;
            height: 100%;
            background-color: var(--bg-secondary);
          }
        }

        .y-axis {
          @include flex(column, 1rem);
          width: 100px;
        }

        .x-axis {
          @include flex(row, 1rem);
          padding-left: 116px;
        }
      }
    }
  }

  &.chart-card {
    @include flex(column, 1rem);
    width: 100%;

    .card-data {
      flex: 1;
    }

    .chart {
      display: grid;
      grid-template-columns: 40px 1fr;
      gap: 1rem;
      height: 100%;
    }

    /* chart legend - top right */
    .legend {
      @include flexAlign(row, 1rem);
      font-size: $sm-txt;
      color: var(--txt-default);

      li {
        @include flexAlign(row, .5rem);

        .dot {
          display: block;
          position: relative;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }

    /* y-axis labels */
    .y-axis {
      @include flex(column, 1rem);
      align-items: flex-end;
      font-size: $sm-txt;
      color: var(--neutral-text);
    }

    /* chart container */
    .plot {
      position: relative;
      overflow: hidden;
    }

    /* grid lines */
    .gridline {
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(0, 0, 0, .06);

      &.gl-1 { top: 7.5px; }
      &.gl-2 { top: 39.5px; }
      &.gl-3 { top: 71.5px; }
      &.gl-4 { top: 103.5px; }
      &.gl-5 { top: 135.5px; }
      &.gl-6 { top: 167.5px; }
      &.gl-7 { top: 199.5px; }
      &.gl-8 { top: 231.5px;
        background-color: var(--bg-secondary);
      }
    }
    
    /* SVG line overlay */
    .line-svg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 6;

      .line-path {
        fill: none;
        stroke: $alert-color;
        stroke-width: .5;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    /* columns container */
    .cols {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1.25rem;
      position: absolute;
      inset: 0;
      padding: 14px 16px 21.5px;

      /* each column */
      .col {
        @include flexCenter;
        justify-content: flex-end;
        position: relative;
        height: 100%;

        /* bar */
        .bar {
          width: 66%;
          height: calc(var(--bar) * 1%);
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }

        /* point on the line */
        .point {
          position: absolute;
          left: 50%;
          top: calc(100% - (var(--line) * 1%));
          z-index: 8;
          width: 12px;
          height: 12px;
          transform: translate(-50%, -50%);
          background: $alert-color;
          border-radius: 50%;
          box-shadow: 0 0 0 3px #ff84004b;
        }

        /* x-axis labels */
        .x {
          position: absolute;
          bottom: -24px;
          font-size: $sm-txt;
          color: var(--txt-default);
        }

        /* value text */
        .value {
          position: absolute;
          left: 50%;
          top: calc(100% - (var(--line) * 1%) - 18px);
          transform: translate(-50%, -50%);
          font-weight: 600;
          color: var(--txt-primary);
        }
      }
    }

    &.line-columns {
      /* chart legend - top right */
      .legend li {
        &:first-child {
          .dot { background: rgba(0, 50, 90, .5);
            border-radius: 2.5px;
          }
        }

        &:last-child {
          .dot { 
            margin-inline: 4px;
            background: $alert-color;

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: -4px;
              top: 50%;
              width: 18px;
              height: 2px;
              background: $alert-color;
              transform: translateY(-50%);
            }
          }
        }
      }

      /* columns */
      .cols .col {
        /* bar */
        .bar {
          //background: #9fd0ff; /* bleu clair */
          background: rgba(0, 50, 90, .5);
        }

        /* value text */
        .value {
          /* value text above points (/hour) */
          &:not(.inside) {
            font-size: $md-txt;
          }
          /* value text inside bar (/10mn) */
          &.inside {
            top: calc(100% - (var(--line) * 1%) + 48px);
          }
        }
      }
    }

    &.combined-columns {
      /* chart legend - top right */
      .legend li {
        &:first-child {
          .dot { background: var(--female-color); }
        }

        &:nth-child(2) {
          .dot { background: var(--male-color); }
        }

        &:last-child {
          .dot { 
            margin-inline: 4px;
            background: $alert-color;

            &::after {
              content: "";
              display: block;
              position: absolute;
              left: -4px;
              top: 50%;
              width: 18px;
              height: 2px;
              background: $alert-color;
              transform: translateY(-50%);
            }
          }
        }
      }

      /* columns */
      .cols .col {
        .bar {
          @include flexAlign(row, .25rem, end);

          span {
            display: flex;
            justify-content: center;
            flex: 1;
            height: 100%;
            padding-top: 1.5rem;
            font-size: $sm-txt;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            
            &:first-child {
              background: var(--female-color);
            }
            
            &:last-child {
              background: var(--male-color);
            }
          }
        }

        .value {
          font-size: $md-txt;
        }
      }
    }
  }
}

/* BUTTONS */

// default
.btn,  %btn {
  @extend %card;
  @include flexCenter;
  width: auto;
  padding: 14px 12px;
  border: 1px solid white;
  color: var(--txt-default);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

  svg {
    fill: var(--txt-default);
  }

  &:hover, &.selected, &.disabled {
    box-shadow: none;
  }

  &.selected {
    cursor: default;
  }

  &.disabled {
    opacity: .4
  }
}

// primary button
.btn-primary, %btn-primary {
  @extend %btn;
  border-color: var(--primary-color);
  color: var(--txt-secondary);
  background-color: var(--bg-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  svg {
    fill: var(--bg-secondary)
  }

  &:hover, &.selected {
    border-color: var(--primary-color);
    color: var(--txt-primary);
    background-color: var(--bg-secondary);

    svg {
      fill: var(--bg-primary);
    }
  }
}

// secondary actions
.btn-secondary, %btn-secondary {
  @extend %btn;
  color: var(--txt-primary);

  svg {
    fill: var(--bg-primary);
  }

  &:hover, &.selected {
    border-color: var(--bg-selected);
  }

  &.selected {
    color: var(--txt-secondary);
    background-color: var(--bg-selected);
  }
}

.btn-icon, %btn-icon {
  @extend %btn;
  width: 16px;
  height: 16px;
  padding: 0;
}

// misc
.btn-delete {
  @extend %btn-icon;
  border-color: var(--default-color);
  line-height: 1;
  background-color: transparent;
}

.btn-sm {
  width: 16px;
}

/* BUTTONS GROUPS */
.time-container, .time-controls, .action-tools {
  @include flexAlign(row, .75rem);

  .btn-primary, .btn-secondary {
    width: 44px;
    height: 44px;
    padding: 0;

    svg {
      width: 28px;
    }
  }
}

.time-container {
  gap: 1.25rem;
}

.time-controls {
  display: none;
  gap: .5rem;

  .btn-secondary {
    width: 36px;
    height: 36px;

    &:hover {
      border-color: $border-color;
    }
  }

  .time-display {
    @include flexCenter;
    height: 40px;
    padding-inline: 1rem;
    border: 1px solid $border-color;
  }
}

/* FORMS */

/* INPUTS */
input {
  width: 96px;
  padding: 5px 8px;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  font-size: 14px;

  &:focus {
    border: 1px solid $highlight-color;
  }
}

/* GRAPHS */
.half-circle{
  width: 160px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    var(--male-color) 0 170deg,
    var(--female-color) 171deg 360deg
  );
}

.white-circle{
  @include flex(column, .5rem);
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 24px;
  left: 24px;
  width: 112px;
  aspect-ratio: 1;
  padding-inline: .75rem;
  border-radius: 50%;
  background-color: var(--bg-primary);

  .circle-data {
    &:last-child {
      align-self: flex-end;
    }
  }
}
