/******************* OBJECTS *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;

/* PLACEHOLDERS */

// card
.card, %card {
  padding: 1rem;
  background-color: var(--bg-primary);
  border-radius: 8px;

  .card-title {
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    h2 {
      @include flex(row, 1rem);
      align-items: center;
      height: 32px;
      color: var(--txt-primary);
      //color: var(--txt-default);
    }

    svg {
      width: 32px;
      fill: var(--txt-primary);

      &.alert {
        fill: $alert-color;
      }
    }

    figure {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        background-color: var(--bg-secondary);
        border-radius: 100%;

        img {
            width: 20px;
        }

      &.svg-icon {
        svg {
            width: 20px;
            fill: var(--txt-secondary);
        }
      }
    }
  }

  .title-data {
    font-size: $xl-txt;
    font-weight: bold;
    color: var(--highlight-color);
  }

  .row-line {
    display: flex;
    padding: 8px 16px;
    padding-right: 32px;
    border-bottom: 1px solid $border-color-light;

    span {
      font-size: 14px;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--bg-sidenav);
      cursor: pointer;
    }

    &.selected {
      color: var(--highlight-color);
      //background-color: var(--bg-side-hov);
      cursor: default;
    }
  }

  &.kpi-card {
    @include flexGrow(row);
    align-items: center;
    justify-content: space-between;

    &:first-child {
      width: 40%;
    }

    &:nth-child(2) {
      width: 60%;
    }
  }

  &.table-card {
    @include flex(column);
    width: 100%;

    .card-title {
      padding-right: 1rem;
    }

    .table {
      @include flexGrow(column);
      overflow: hidden;
    }

    .table-head {
      display: flex;
      padding: 1rem;
      padding-right: 2rem;
      font-weight: bold;
      color: var(--txt-primary);
      box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.18);
    }
    
    .table-body {
      flex: 1;
      overflow: hidden;

      .table-body-container {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;
      }
    }

    &.col-4 {
      height: 44%;
      
      .table-head, .row-line {
        span {
          &:first-child { width: 15%; }
          &:nth-child(2) { width: 40%; }
          &:nth-child(3) { width: 30%; }
          &:nth-child(4) { width: 15%; }
        }
      }
    }

    &.col-5 {
      .table-head, .row-line {
          span {
              &:first-child { width: 14%; }
              &:nth-child(2) { width: 18%; }
              &:nth-child(3) { width: 32%; }
              &:nth-child(4) { width: 18%; }
              &:last-child { width: 18%; }
          }
      }
  
      .row-line {
          padding: 12px 16px;

          span {
              font-size: 16px;
          }
      }
    }

    &.col-6 {
      height: 54%;

      .table-head, .row-line {
        span {
          &:first-child { width: 6%; }
          &:nth-child(2) { width: 24%; }
          &:nth-child(3) { width: 20%; }
          &:nth-child(4) { width: 22%; }
          &:nth-child(5) { width: 14%; }
          &:last-child { width: 14%; }
        }
      }
    }

    &.col-7 {
      .table-head, .row-line {
        span {
          width: 14%;
          &:first-child { width: 16%; }
        }
      }

      .table-body {
        span {
          &:first-child {
              font-style: italic;
              color: $secondary-color;
          }
        }
      }
    }

    &.col-11 {
      .table-head, .row-line {
        span {
          &:first-child { width: 9%; }
          &:nth-child(2) { width: 14%; }
          &:nth-child(3) { width: 12%; }
          &:nth-child(4) { width: 8%; }
          &:nth-child(5) { width: 11%; }
          &:nth-child(6) { width: 8%; }
          &:nth-child(7) { width: 8%; }
          &:nth-child(8) { width: 8%; }
          &:nth-child(9) { width: 8%; }
          &:nth-child(10) { width: 8%; }
          &:last-child { width: 6%; }
        }
      }
  
      .row-line {
        padding: 12px 16px;

        span {
          font-size: 16px;
        }
      }
    }
  }

  &.graph-card {
    .card-data {
      @include flex(row, 1rem);
      padding: 1rem;

      &.graph-data {
        flex-direction: column;
      }

      figure {
        position: relative;
      }

      .txt-data {
        @include flex;
        justify-content: space-between;
        width: 100%;
        padding-block: 1rem;
        padding-left: 1rem;

        .data-content {
          @include flex(column, .75rem);
        }

        .data-line {
          @include flex(row);
          justify-content: space-between;

          .v-female, .v-male {
            font-weight: bold;
          }
        }

        > .data-line {
          align-self: flex-end;

          .title-data {
            font-size: $md-txt;
          }
        }

        .line-title {
          @include flex(row, .5rem);
        }

        .dot {
          @include flexCenter;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          background-color: var(--female-color);

          &.male {
            background-color: var(--male-color);
          }
        }

        svg {
            width: 20px;
            fill: var(--txt-secondary);
        }
      }
    }

    &:last-child {
      flex: 1;
    }
  }
}

/* BUTTONS */

// default
.btn,  %btn {
  @extend %card;
  @include flexCenter;
  width: auto;
  padding: 14px 12px;
  border: 1px solid white;
  color: var(--txt-default);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

  svg {
    fill: var(--txt-default);
  }

  &:hover, &.selected, &.disabled {
    box-shadow: none;
  }

  &.selected {
    cursor: default;
  }

  &.disabled {
    opacity: .4
  }
}

// primary button
.btn-primary, %btn-primary {
  @extend %btn;
  border-color: var(--primary-color);
  color: var(--txt-secondary);
  background-color: var(--bg-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  svg {
    fill: var(--bg-secondary)
  }

  &:hover, &.selected {
    border-color: var(--primary-color);
    color: var(--txt-primary);
    background-color: var(--bg-secondary);

    svg {
      fill: var(--bg-primary);
    }
  }
}

// secondary actions
.btn-secondary, %btn-secondary {
  @extend %btn;
  color: var(--txt-primary);

  svg {
    fill: var(--bg-primary);
  }

  &:hover, &.selected {
    border-color: var(--bg-selected);
  }

  &.selected {
    color: var(--txt-secondary);
    background-color: var(--bg-selected);
  }
}

.btn-icon, %btn-icon {
  @extend %btn;
  width: 16px;
  height: 16px;
  padding: 0;
}

// misc
.btn-delete {
  @extend %btn-icon;
  border-color: var(--default-color);
  line-height: 1;
  background-color: transparent;
}

.btn-sm {
  width: 16px;
}

/* BUTTONS GROUPS */
.time-container, .time-controls, .action-tools {
  @include flexAlign(row, .75rem);

  .btn-primary, .btn-secondary {
    width: 44px;
    height: 44px;
    padding: 0;

    svg {
      width: 28px;
    }
  }
}

.time-container {
  gap: 1.25rem;
}

.time-controls {
  display: none;
  gap: .5rem;

  .btn-secondary {
    width: 36px;
    height: 36px;

    &:hover {
      border-color: $border-color;
    }
  }

  .time-display {
    @include flexCenter;
    height: 40px;
    padding-inline: 1rem;
    border: 1px solid $border-color;
  }
}

/* FORMS */

/* INPUTS */
input {
  width: 96px;
  padding: 5px 8px;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  font-size: 14px;

  &:focus {
    border: 1px solid $highlight-color;
  }
}

/* GRAPHS */
.half-circle{
  width: 160px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    var(--male-color) 0 170deg,
    var(--female-color) 171deg 360deg
  );
}

.white-circle{
  @include flex(column, .5rem);
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 24px;
  left: 24px;
  width: 112px;
  aspect-ratio: 1;
  padding-inline: .75rem;
  border-radius: 50%;
  background-color: var(--bg-primary);

  .circle-data {
    &:last-child {
      align-self: flex-end;
    }
  }
}
