/******************* OBJECTS *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;

/* PLACEHOLDERS */

// card
.card, %card {
  background-color: var(--bg-secondary);
  border-radius: 8px;
}

/* BUTTONS */

// default
.btn,  %btn {
  @extend %card;
  @include flexCenter;
  width: auto;
  padding: 14px 12px;
  border: 1px solid white;
  color: var(--txt-default);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

  svg {
    fill: var(--txt-default);
  }

  &:hover, &.selected, &.disabled {
    box-shadow: none;
  }

  &.selected {
    cursor: default;
  }

  &.disabled {
    opacity: .4
  }
}

// primary button
.btn-primary, %btn-primary {
  @extend %btn;
  border-color: var(--primary-color);
  color: var(--txt-secondary);
  background-color: var(--bg-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  svg {
    fill: var(--bg-secondary)
  }

  &:hover, &.selected {
    border-color: var(--primary-color);
    color: var(--txt-primary);
    background-color: var(--bg-secondary);

    svg {
      fill: var(--bg-primary);
    }
  }
}

// secondary actions
.btn-secondary, %btn-secondary {
  @extend %btn;
  color: var(--txt-primary);

  svg {
    fill: var(--bg-primary);
  }

  &:hover, &.selected {
    border-color: var(--primary-color);
  }

  &.selected {
    color: white;
    background-color: var(--primary-color);
  }
}

.btn-icon, %btn-icon {
  @extend %btn;
  width: 16px;
  height: 16px;
  padding: 0;
}

// misc
.btn-delete {
  @extend %btn-icon;
  border-color: var(--default-color);
  line-height: 1;
  background-color: transparent;
}

.btn-sm {
  width: 16px;
}

/* BUTTONS GROUPS */
.time-container, .time-controls, .action-tools {
  @include flexAlign(row, .75rem);

  .btn-primary, .btn-secondary {
    width: 44px;
    height: 44px;
    padding: 0;

    svg {
      width: 28px;
    }
  }
}

.time-container {
  gap: 1.25rem;
}

.time-controls {
  display: none;
  gap: .5rem;

  .btn-secondary {
    width: 36px;
    height: 36px;

    &:hover {
      border-color: $border-color;
    }
  }

  .time-display {
    @include flexCenter;
    height: 40px;
    padding-inline: 1rem;
    border: 1px solid $border-color;
  }
}

/* FORMS */

/* INPUTS */
input {
  width: 96px;
  padding: 5px 8px;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  font-size: 14px;

  &:focus {
    border: 1px solid $highlight-color;
  }
}
