/*********** IMPORTS ***********/

@use "colors" as *;
@use "typography" as *;
@use "layout" as *;
@use "utilities" as *;
@use "base";
@use "buttons";

/*********** LAYOUT ***********/

/* LEFT MENU */
.sidebar-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 48px;
    height: 100%;
    background-color: $bg-primary;
    @include transition(width);

    .sidebar {
        @include flex;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);

        li {
            a {
                @include flexAlign;
                height: 48px;
                @include transition(gap);

                figure {
                    @include flexCenter;
                    position: relative;
                    z-index: 2;
                    width: 48px;
                    padding-inline: 4px;
                    background-color: $bg-primary;

                    svg {
                        width: 20px;
                        fill: $secondary-color;
                    }
                }

                span {
                    position: relative;
                    z-index: 1;
                    width: 0;
                    max-width: 200px;
                    font-size: $sm-txt;
                    @include ellipsis;
                    transform: translateX(-152px);
                    opacity: 0;
                    @include transitions((width, transform, opacity));
                }

                &:hover {
                    background-color: $bg-light;

                    figure {
                        background-color: $bg-light;
                    }
                }
            }

            &.selected {
                font-weight: bold;
                color: white;
                background-color: $bg-selected;
                cursor: default;
                
                figure {
                    background-color: $bg-selected;  

                    svg {
                        fill: white;
                    }
                } 
                
                a:hover {
                    cursor: default;
                }
            }

            &:first-child, &:nth-child(2), &.selected {
                a:hover {
                    background-color: initial;
                    
                    figure {
                        background-color: initial;
                    }
                }
            }
        }
    }

    &:hover {
        width: 256px;

        .sidebar {
            li a {
                gap: .5rem;

                span {
                    width: 200px;
                    padding-inline: 12px;
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }
    }
}

/* FIXED FOOTER */
footer {
    @include flexBetween;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    font-size: $sm-txt;
    color: white;
    background-color: $primary-color;
    
    // media queries
    @include mq-sm { padding-inline: 2rem; }
    @include mq-lg { padding-inline: 4rem; }
    @include mq-xl { padding-inline: 8rem; }

    figure {
        @include flexAlign(row, .5rem);
    }

    ul {
        display: none;
        @include mq-md {
            @include flex(row, 1rem);
        }
    }
}

/* CONTENT */
.content-wrapper {
    @include flexGrow;
    padding-left: 48px; // space for sidebar
    padding-bottom: 60px; // space for footer
    background-color: white;
}

header {
    @include flexBetween(row, .75rem);
    height: 84px;
    padding-inline: 1rem;
    background-color: $highlight-color;

    .h-left-side {
        @include flex;

        .brand-name {
            @include brand-txt;
            line-height: 1;
            color: white;
        }

        .tagline {
            font-family: $jura;
            font-size: $sm-txt;
            color: $primary-color;
        }
    }

    .h-right-side {
        @include flex(row, 1rem);
        align-items: center;

        button:nth-child(2) {
            .popup {
                width: 200px;
            }
        }
    }
    
    // media queries    
    @include mq-sm {
        padding-inline: 1.25rem;
        
        .h-left-side {
            gap: .25rem;

            .brand-name {font-size: $xl-txt; }
            .tagline { font-size: $md-txt; }
        }

        .h-right-side {
            gap: 1.5rem;
        }
    }
        
    @include mq-md {
        padding-inline: 1.5rem;

        .h-right-side {
            gap: 2rem;
        }
    }
}

main {
    @include flexGrow;
    align-items: center;
}

/* MAIN CONTENT */
section {
    @include flex;
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
    padding-inline: 1.5rem;

    .section-header {
        @include flexAlign;
        justify-content: flex-end;
        height: 48px;

        #clock, .time-display {
            @include time-txt;
            color: $secondary-color;
        }
    }

    .scene {
        @include flexGrow(column, 2rem);
        align-items: center;
        position: relative;
        z-index: 0;
        width: 100%;
        padding-top: 3rem;

        .hero {
            @include flex(column, 1.5rem);

            .h-tagline {
                @include brand-txt;
                font-size: $xl-txt;
            }
        }

        .main-nav {
            @include flexBetween;
            flex-wrap: wrap;
            row-gap: .75rem;
            width: 96%;

            a {
                width: 48%;
                height: 80px;
                padding: 24px;
                @extend %btn;
                border-color: $border-color-light;
                transition: border-color 0.2s ease;

                &:hover {
                    border-color: $primary-color;
                }

                img {
                    width: 100%;
                }
            }
        }

        // media queries
        @include mq-sm {
            gap: 6rem;
            padding-top: 11rem;

            .hero .h-tagline {
                font-size: 48px;
            }

            .main-nav {
                width: 90%;

                a {
                    width: 33%;
                    height: 120px;
                    padding: 28px;
                }
            }
        }

        @include mq-md {
            .main-nav {
                width: 80%;

                a {
                    width: 18%;
                    height: 120px;
                    padding: 32px;
                }
            }
        }
    }
}

/*********** PAGES ***********/

/* DASHBOARDS SPECIFIC STYLES */
.dashboard {
    header {
        padding-block: .75rem;
        background-color: var(--primary-color);

        .h-left-side {
            img {
                height: 60px;
            }
        }
    }

    .content-wrapper {
        background-color: $bg-lighter;
    }

    .section-header {
        justify-content: space-between;

        ul {
            @include flex(row, 1rem);

            a {
                @extend %btn-secondary;
                @include brand-txt(normal);
                font-size: .875rem;
                text-transform: uppercase;
            }
        }
    }

    .scene {
        @include flexAlign(row, 2rem, start);
        padding-top: 2rem;

        figure {
            position: relative;

            img {
                width: 100%;
            }

            svg {
                position: absolute;
                top: 22%;
                left: 12%;
                width: 60px;
                fill: $alert-color;
            }
        }

        &.dash-home {
            gap: 6rem;
            padding-top: 6rem;
            padding-inline: 3rem;
        }
    }

    .card-wrapper {
        @include flex (column, .5rem);
        width: 100%;

        .card-header {
            @include flexJustify(row, 0, space-between);
            @extend %card;

            .card-title {
                padding: 16px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                font-size: $lg-txt;
                color: white;
                background-color: var(--primary-color);
            }

            .card-title-side {
                @include flexCenter (row);
                padding-right: 32px;
                font-size: $lg-txt;
                font-weight: bold;
                color: var(--primary-color);
            }
        }

        .row-line {
            display: flex;
            padding: 16px;
            padding-right: 32px;
            border-bottom: 1px solid $border-color-light;

            &:last-child {
                border-bottom: none;
            }

            .line {
                @include flexAlign(row, .5rem);
                width: 80%;

                svg {
                    width: 48px;
                    fill: var(--primary-color);
                }
            }

            .line-end {
                @include flex;
                justify-content: center;
                align-items: flex-end;
                width: 20%;

                span:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-style: italic;
                    color: $secondary-color;
                }
            }
        }

        .card-body { 
            @extend %card;
            padding-inline: 20px;

            .row-line {
                padding-inline: 0 12px;
            }
        }

        .card-footer {
            @extend %card;
            .row-line {
                padding-inline: 24px 32px;

                .line-end {
                    span:first-child {
                        font-size: $lg-txt;
                    }
                }
            }

            .footer-title {
                font-size: $lg-txt;
                color: var(--primary-color);
            }
        }

        .card-table { 
            .row-top-line {
                display: flex;
                //justify-content: space-between;
                padding: 16px;
                padding-right: 32px;
                font-weight: bold;
                color: white;
                background-color: var(--primary-color);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            
            .row-line {
                padding: 8px 16px;

                span {
                    font-size: 14px;
                }
            }

            .table-body {
                height: 152px;
                max-height: 152px;
                overflow: hidden;

                .table-body-container {
                    height: 100%;
                    overflow-y: auto;
                    scrollbar-gutter: stable;
                }
            }

            &.col-4 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 15%; }
                        &:nth-child(2) { width: 40%; }
                        &:nth-child(3) { width: 30%; }
                        &:nth-child(4) { width: 15%; }
                    }
                }

                .table-body {
                    height: 104px;
                    max-height: 104px;
                }
            }

            &.col-5 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 14%; }
                        &:nth-child(2) { width: 18%; }
                        &:nth-child(3) { width: 32%; }
                        &:nth-child(4) { width: 18%; }
                        &:last-child { width: 18%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.col-6 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 6%; }
                        &:nth-child(2) { width: 24%; }
                        &:nth-child(3) { width: 20%; }
                        &:nth-child(4) { width: 22%; }
                        &:nth-child(5) { width: 14%; }
                        &:last-child { width: 14%; }
                    }
                }
            }

            &.col-11 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 9%; }
                        &:nth-child(2) { width: 14%; }
                        &:nth-child(3) { width: 12%; }
                        &:nth-child(4) { width: 8%; }
                        &:nth-child(5) { width: 11%; }
                        &:nth-child(6) { width: 8%; }
                        &:nth-child(7) { width: 8%; }
                        &:nth-child(8) { width: 8%; }
                        &:nth-child(9) { width: 8%; }
                        &:nth-child(10) { width: 8%; }
                        &:last-child { width: 6%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }
        }

        .card-graph {
            @include flexCenter;
            gap: .75rem;
            padding: 16px;

            h2 {
                align-self: flex-start;
                font-size: 16px;
                //color: colors.$body-color;
                color: var(--primary-color);
            }
        }

        .double-header {
            display: flex;
            gap: .5rem;

            .card-header {
                flex: 1;

                .card-title {
                    //width: 56%;
                    padding: 16px;
                    font-size: 16px;
                    font-weight: bold;
                }

                .card-title-side {
                    //width: 44%;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .header-w-icon {
            display: flex;
            align-items: center;
            flex: 1;
            gap: 1rem;

            .card-header {
                flex: 1;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                background-color: $secondary-color;
                border-radius: 100%;

                img {
                    width: 26px;
                }
            }

            svg {
                width: 44px;
                fill: $secondary-color;
            }

            &.alert {
                svg {
                    fill: $alert-color;
                }
            }
        }
    }

    .scene.dashboard-5 {
        padding-block: 3rem;
        padding-inline: 0;

        .content-full {
            @include flex;
            gap: .5rem;
            width: 100%;
        }
        
        .card-wrapper {
            padding: 4px 16px;
        }

        .header-w-icon {
            gap: 0;
            figure {
                background-color:  var(--primary-color);
            }

            svg {
                width: 44px;
                fill:  var(--primary-color);
            }

            &.warning {
                svg {
                    fill:  var(--primary-color);
                }
            }
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            gap: 0;

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                background-color: var(--primary-color);
                border-radius: 100%;

                img {
                    width: 26px;
                }
            }

            svg {
                width: 44px;
                fill: $secondary-color;
            }

            &.warning {
                svg {
                    fill: $alert-color;
                }
            }

            .card-title {
                padding: 16px;
                font-size: 24px;
                font-weight: bold;
                //color: colors.$genesys-blue;
                color: $secondary-color;
                background-color: white !important;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .card-title-side {
                display: flex;
                justify-content: center;
                align-items: center;
                //width: 20%;
                padding-right: 32px;
                font-size: 24px;
                font-weight: bold;
                color: var(--primary-color);
            }
        }
        
        .card-graph {
            align-items: flex-start;
            padding: 16px;

            .graph-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            h2 {
                align-self: center;
                font-size: 16px;
                //color: colors.$body-color;
                color: var(--primary-color);
            }

            figure {
                width: 100%;
                padding-bottom: 1rem;

                img {
                    width: 80%;
                }
            }
        }

        .action-tools {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .btn-primary {
            @include flexCenter;
            width: auto;
            height: 40px;
            padding: 0 16px;
            color: white;
            background-color: var(--primary-color);
            border: none;
            border-radius: 8px;

            svg {
                width: 28px;
                fill: white;
            }
        }

        .double-header {
            .header-w-icon:nth-child(2) {
                .card-header {
                    justify-content: flex-end;
                }
            }
        }
    }

    .v2 {
        .scene {
            gap: 1rem;
            padding-block: 3rem;
            padding-inline: 0;
        }
        
        .card-wrapper {
            gap: 1rem;
            padding: 16px 20px;
        }

        .header-w-icon {
            gap: 0;
            //flex: 0;

            figure {
                background-color: var(--primary-color);
            }

            svg {
                width: 44px;
                fill: var(--primary-color);
            }

            &.warning {
                svg {
                    fill: $alert-color;
                }
            }

            .icon-white {
                svg {
                    width: 24px;
                    fill: white;
                }
            }
        }

        .row-line {
            display: flex;
            padding: 16px;
            padding-right: 32px;
            border-bottom: 1px solid $border-color-light;

            &:last-child {
                border-bottom: none;
            }

            .line {
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 80%;

                svg {
                    width: 48px !important;
                    fill: var(--primary-color);
                }
            }

            .line-end {
                @include flex;
                justify-content: center;
                align-items: flex-end;
                width: 20%;

                span:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-style: italic;
                    color: $secondary-color;
                }
            }
        }

        .card.card-body { 
            padding-inline: 16px;

            .row-line {
                padding-inline: 0;
                padding-block: 12px;
            }
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            gap: 0;

            &.end {
                justify-content: flex-end;
            }

            &.between {
                justify-content: space-between;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                background-color: var(--primary-color);
                border-radius: 100%;

                img {
                    width: 26px;
                }
            }

            svg {
                width: 44px;
                fill: $secondary-color;
            }

            &.warning {
                svg {
                    fill: $warning-color;
                }
            }

            .card-title {
                padding: 16px;
                font-size: 24px !important;
                font-weight: bold;
                color: var(--primary-color);
                //color: colors.$body-color;
                background-color: white !important;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .card-title-side {
                display: flex;
                justify-content: center;
                align-items: center;
                //width: 20%;
                padding-right: 16px;
                font-size: 24px !important;
                font-weight: bold;
                //color:  colors.$primary-color;
                color: $highlight-color;
            }
        }

        .card.card-table { 
            .row-top-line {
                display: flex;
                //justify-content: space-between;
                padding: 16px;
                padding-right: 32px;
                font-weight: bold;
                color: var(--primary-color);
                background-color: white;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.18);
            }
            
            .row-line {
                padding: 8px 16px;

                span {
                    font-size: 14px;
                }
            }

            .table-body {
                height: 160px;
                max-height: 160px;
                overflow: hidden;

                .table-body-container {
                    height: 100%;
                    overflow-y: auto;
                    scrollbar-gutter: stable;
                }
            }

            &.col-4 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 15%; }
                        &:nth-child(2) { width: 40%; }
                        &:nth-child(3) { width: 30%; }
                        &:nth-child(4) { width: 15%; }
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.col-5 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 14%; }
                        &:nth-child(2) { width: 18%; }
                        &:nth-child(3) { width: 32%; }
                        &:nth-child(4) { width: 18%; }
                        &:last-child { width: 18%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.col-6 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 6%; }
                        &:nth-child(2) { width: 24%; }
                        &:nth-child(3) { width: 20%; }
                        &:nth-child(4) { width: 22%; }
                        &:nth-child(5) { width: 14%; }
                        &:last-child { width: 14%; }
                    }
                }
            }

            &.col-11 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 9%; }
                        &:nth-child(2) { width: 14%; }
                        &:nth-child(3) { width: 12%; }
                        &:nth-child(4) { width: 8%; }
                        &:nth-child(5) { width: 11%; }
                        &:nth-child(6) { width: 8%; }
                        &:nth-child(7) { width: 8%; }
                        &:nth-child(8) { width: 8%; }
                        &:nth-child(9) { width: 8%; }
                        &:nth-child(10) { width: 8%; }
                        &:last-child { width: 6%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }
        }
        
        .card-graph {
            align-items: flex-start;
            padding: 16px;

            .graph-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            h2 {
                align-self: center;
                font-size: 16px;
                //color: colors.$body-color;
                color: var(--primary-color);
            }

            figure {
                width: 100%;
                padding-bottom: 1rem;

                img {
                    width: 80%;
                }
            }
        }

        .action-tools {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .btn-primary {
            @include flexCenter;
            width: 44px;
            height: 44px;
            padding: 0 16px;
            color: white;
            background-color: var(--primary-color);
            border: none;
            border-radius: 8px;

            svg {
                width: 28px;
                fill: white;
            }
        }

        .double-header {
            .header-w-icon:nth-child(2) {
                .card-header {
                    justify-content: flex-end;
                }
            }
        }

        .content-left, .content-right {
            gap: 1rem;
            height: 100%;
        
            .card-wrapper {
                gap: 1rem;
            }
        }
    }

   /* &.portal-theme {
        // Genesys Pages Specific Styles
        &#genesys { }
        // EggInject Pages Specific Styles
        &#egginject { }
        // Laserlife Pages Specific Styles
        &#laserlife { }
        // Dovac Pages Specific Styles
        &#dovac { }
        // Inline Pages Specific Styles
        &#inline { }
    }*/
}
