/*********** IMPORTS ***********/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;
@use "objects";
@use "base";
@use "components";
@use "layout";
@use "utilities";

/*********** PAGES ***********/

/* DASHBOARDS SPECIFIC STYLES */
.dashboard {
    header {
        padding-block: .75rem;
        background-color: var(--primary-color);

        .h-left-side {
            img {
                height: 60px;
            }
        }
    }

    .content-wrapper {
        background-color: $bg-lighter;
    }

    .section-header {
        justify-content: space-between;

        ul {
            @include flex(row, 1rem);

            a {
                @extend %btn-secondary;
                font-weight: bold;
                font-size: 0.875rem;
                text-transform: uppercase;
                letter-spacing: -.5px;
            }
        }
    }

    .scene {
        @include flex;
        padding-top: 2rem;

        figure {
            position: relative;

            img {
                width: 100%;
            }

            svg {
                position: absolute;
                top: 22%;
                left: 12%;
                width: 60px;
                fill: $alert-color;
            }
        }

        &.dash-home {
            flex-direction: column;
            gap: 3rem;
            padding-inline: .5rem;

            figure {
                width: 80%;
            }

            .content {
                width: 100%;
                padding-top: 2rem;
            }
    
            // media queries
            @include mq-sm {  }

            @include mq-md {
            }

            @include mq-lg {
                flex-direction: row;
                padding-top: 6rem;

                figure {
                    width: 50%;
                }

                .content {
                    width: 50%;
                    padding-top: 2rem;
                }
            }

            @include mq-xl {
                gap: 6rem;
                padding-inline: 3rem;

                figure {
                    width: 60%;
                }

                .content {
                    width: 40%;
                }
            }
        }

        @include mq(1160px) {
            @include flexAlign(row, 2rem, start);
        }
    }

    .card-wrapper {
        @include flex (column, .5rem);
        width: 100%;

        .card-header {
            @include flexJustify(row, 0, space-between);
            @extend %card;

            .card-title {
                padding: 16px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                font-size: $lg-txt;
                color: white;
                background-color: var(--primary-color);
            }

            .card-title-side {
                @include flexCenter (row);
                padding-right: 32px;
                font-size: $lg-txt;
                font-weight: bold;
                color: var(--primary-color);
            }
        }

        .row-line {
            display: flex;
            padding: 16px;
            padding-right: 32px;
            border-bottom: 1px solid $border-color-light;

            &:last-child {
                border-bottom: none;
            }

            .line {
                @include flexAlign(row, .5rem);
                width: 80%;

                svg {
                    width: 48px;
                    fill: var(--primary-color);
                }
            }

            .line-end {
                @include flex;
                justify-content: center;
                align-items: flex-end;
                width: 20%;

                span:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-style: italic;
                    color: $secondary-color;
                }
            }
        }

        .card-body { 
            @extend %card;
            padding-inline: 20px;

            .row-line {
                padding-inline: 0 12px;
            }
        }

        .card-footer {
            @extend %card;
            .row-line {
                padding-inline: 24px 32px;

                .line-end {
                    span:first-child {
                        font-size: $lg-txt;
                    }
                }
            }

            .footer-title {
                font-size: $lg-txt;
                color: var(--primary-color);
            }
        }

        .card-table { 
            .row-top-line {
                display: flex;
                //justify-content: space-between;
                padding: 16px;
                padding-right: 32px;
                font-weight: bold;
                color: white;
                background-color: var(--primary-color);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            
            .row-line {
                padding: 8px 16px;

                span {
                    font-size: 14px;
                }
            }

            .table-body {
                height: 152px;
                max-height: 152px;
                overflow: hidden;

                .table-body-container {
                    height: 100%;
                    overflow-y: auto;
                    scrollbar-gutter: stable;
                }
            }

            &.col-4 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 15%; }
                        &:nth-child(2) { width: 40%; }
                        &:nth-child(3) { width: 30%; }
                        &:nth-child(4) { width: 15%; }
                    }
                }

                .table-body {
                    height: 104px;
                    max-height: 104px;
                }
            }

            &.col-5 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 14%; }
                        &:nth-child(2) { width: 18%; }
                        &:nth-child(3) { width: 32%; }
                        &:nth-child(4) { width: 18%; }
                        &:last-child { width: 18%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.col-6 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 6%; }
                        &:nth-child(2) { width: 24%; }
                        &:nth-child(3) { width: 20%; }
                        &:nth-child(4) { width: 22%; }
                        &:nth-child(5) { width: 14%; }
                        &:last-child { width: 14%; }
                    }
                }
            }

            &.col-11 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 9%; }
                        &:nth-child(2) { width: 14%; }
                        &:nth-child(3) { width: 12%; }
                        &:nth-child(4) { width: 8%; }
                        &:nth-child(5) { width: 11%; }
                        &:nth-child(6) { width: 8%; }
                        &:nth-child(7) { width: 8%; }
                        &:nth-child(8) { width: 8%; }
                        &:nth-child(9) { width: 8%; }
                        &:nth-child(10) { width: 8%; }
                        &:last-child { width: 6%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }
        }

        .card-graph {
            @include flexCenter;
            gap: .75rem;
            padding: 16px;

            h2 {
                align-self: flex-start;
                font-size: 16px;
                //color: colors.$body-color;
                color: var(--primary-color);
            }
        }

        .double-header {
            display: flex;
            gap: .5rem;

            .card-header {
                flex: 1;

                .card-title {
                    //width: 56%;
                    padding: 16px;
                    font-size: 16px;
                    font-weight: bold;
                }

                .card-title-side {
                    //width: 44%;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .header-w-icon {
            display: flex;
            align-items: center;
            flex: 1;
            gap: 1rem;

            .card-header {
                flex: 1;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                background-color: $secondary-color;
                border-radius: 100%;

                img {
                    width: 26px;
                }
            }

            svg {
                width: 44px;
                fill: $secondary-color;
            }

            &.alert {
                svg {
                    fill: $alert-color;
                }
            }
        }
    }

    .scene.dashboard-5 {
        padding-block: 3rem;
        padding-inline: 0;

        .content-full {
            @include flex;
            gap: .5rem;
            width: 100%;
        }
        
        .card-wrapper {
            padding: 4px 16px;
        }

        .header-w-icon {
            gap: 0;
            figure {
                background-color:  var(--primary-color);
            }

            svg {
                width: 44px;
                fill:  var(--primary-color);
            }

            &.warning {
                svg {
                    fill:  var(--primary-color);
                }
            }
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            gap: 0;

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                background-color: var(--primary-color);
                border-radius: 100%;

                img {
                    width: 26px;
                }
            }

            svg {
                width: 44px;
                fill: $secondary-color;
            }

            &.warning {
                svg {
                    fill: $alert-color;
                }
            }

            .card-title {
                padding: 16px;
                font-size: 24px;
                font-weight: bold;
                //color: colors.$genesys-blue;
                color: $secondary-color;
                background-color: white !important;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .card-title-side {
                display: flex;
                justify-content: center;
                align-items: center;
                //width: 20%;
                padding-right: 32px;
                font-size: 24px;
                font-weight: bold;
                color: var(--primary-color);
            }
        }
        
        .card-graph {
            align-items: flex-start;
            padding: 16px;

            .graph-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            h2 {
                align-self: center;
                font-size: 16px;
                //color: colors.$body-color;
                color: var(--primary-color);
            }

            figure {
                width: 100%;
                padding-bottom: 1rem;

                img {
                    width: 80%;
                }
            }
        }

        .action-tools {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .btn-primary {
            @include flexCenter;
            width: auto;
            height: 40px;
            padding: 0 16px;
            color: white;
            background-color: var(--primary-color);
            border: none;
            border-radius: 8px;

            svg {
                width: 28px;
                fill: white;
            }
        }

        .double-header {
            .header-w-icon:nth-child(2) {
                .card-header {
                    justify-content: flex-end;
                }
            }
        }
    }

    .v2 {
        .scene {
            gap: 1rem;
            padding-block: 2rem 1.5rem;
            padding-inline: 0;
        }
        
        .card-wrapper {
            gap: 1rem;
            padding: 16px 20px;
        }

        .header-w-icon {
            gap: 0;
            //flex: 0;

            figure {
                background-color: var(--primary-color);
            }

            svg {
                width: 44px;
                fill: var(--primary-color);
            }

            &.warning {
                svg {
                    fill: $alert-color;
                }
            }

            .icon-white {
                svg {
                    width: 24px;
                    fill: white;
                }
            }
        }

        .row-line {
            display: flex;
            padding: 16px;
            padding-right: 32px;
            border-bottom: 1px solid $border-color-light;

            &:last-child {
                border-bottom: none;
            }

            .line {
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 80%;

                svg {
                    width: 48px !important;
                    fill: var(--primary-color);
                }
            }

            .line-end {
                @include flex;
                justify-content: center;
                align-items: flex-end;
                width: 20%;

                span:first-child {
                    font-size: 18px;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-style: italic;
                    color: $secondary-color;
                }
            }
        }

        .card.card-body { 
            padding-inline: 16px;

            .row-line {
                padding-inline: 0;
                padding-block: 12px;
            }
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            gap: 0;

            &.end {
                justify-content: flex-end;
            }

            &.between {
                justify-content: space-between;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                background-color: var(--primary-color);
                border-radius: 100%;

                img {
                    width: 26px;
                }
            }

            svg {
                width: 44px;
                fill: $secondary-color;
            }

            &.warning {
                svg {
                    fill: $warning-color;
                }
            }

            .card-title {
                padding: 16px;
                font-size: 24px !important;
                font-weight: bold;
                color: var(--primary-color);
                //color: colors.$body-color;
                background-color: white !important;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .card-title-side {
                display: flex;
                justify-content: center;
                align-items: center;
                //width: 20%;
                padding-right: 16px;
                font-size: 24px !important;
                font-weight: bold;
                //color:  colors.$primary-color;
                color: $highlight-color;
            }
        }

        .card.card-table { 
            .row-top-line {
                display: flex;
                //justify-content: space-between;
                padding: 16px;
                padding-right: 32px;
                font-weight: bold;
                color: var(--primary-color);
                background-color: white;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                box-shadow: 0 10px 12px -10px rgba(0, 0, 0, 0.18);
            }
            
            .row-line {
                padding: 8px 16px;

                span {
                    font-size: 14px;
                }
            }

            .table-body {
                height: 180px;
                max-height: 180px;
                overflow: hidden;

                .table-body-container {
                    height: 100%;
                    overflow-y: auto;
                    scrollbar-gutter: stable;
                }
            }

            &.col-4 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 15%; }
                        &:nth-child(2) { width: 40%; }
                        &:nth-child(3) { width: 30%; }
                        &:nth-child(4) { width: 15%; }
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.col-5 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 14%; }
                        &:nth-child(2) { width: 18%; }
                        &:nth-child(3) { width: 32%; }
                        &:nth-child(4) { width: 18%; }
                        &:last-child { width: 18%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.col-6 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 6%; }
                        &:nth-child(2) { width: 24%; }
                        &:nth-child(3) { width: 20%; }
                        &:nth-child(4) { width: 22%; }
                        &:nth-child(5) { width: 14%; }
                        &:last-child { width: 14%; }
                    }
                }
            }

            &.col-11 {
                .row-top-line, .row-line {
                    span {
                        &:first-child { width: 9%; }
                        &:nth-child(2) { width: 14%; }
                        &:nth-child(3) { width: 12%; }
                        &:nth-child(4) { width: 8%; }
                        &:nth-child(5) { width: 11%; }
                        &:nth-child(6) { width: 8%; }
                        &:nth-child(7) { width: 8%; }
                        &:nth-child(8) { width: 8%; }
                        &:nth-child(9) { width: 8%; }
                        &:nth-child(10) { width: 8%; }
                        &:last-child { width: 6%; }
                    }
                }
            
                .row-line {
                    padding: 12px 16px;

                    span {
                        font-size: 16px;
                    }
                }

                .table-body {
                    height: 100%;
                    max-height: 100%;
                }
            }
        }
        
        .card-graph {
            align-items: flex-start;
            height: 100%;
            padding: 16px;

            .graph-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            h2 {
                align-self: center;
                font-size: 16px;
                //color: colors.$body-color;
                color: var(--primary-color);
            }

            figure {
                width: 100%;
                padding-bottom: 1rem;

                img {
                    width: 80%;
                }
            }
        }

        .action-tools {
            display: flex;
            align-items: center;
            gap: .75rem;
        }

        .btn-primary {
            @include flexCenter;
            width: 44px;
            height: 44px;
            padding: 0 16px;
            color: white;
            background-color: var(--primary-color);
            border: none;
            border-radius: 8px;

            svg {
                width: 28px;
                fill: white;
            }
        }

        .double-header {
            .header-w-icon:nth-child(2) {
                .card-header {
                    justify-content: flex-end;
                }
            }
        }

        .content-left, .content-right {
            gap: 1rem;
            height: 100%;
        
            .card-wrapper {
                gap: 1rem;
            }
        }
    }

   /* &.portal-theme {
        // Genesys Pages Specific Styles
        &#genesys { }
        // EggInject Pages Specific Styles
        &#egginject { }
        // Laserlife Pages Specific Styles
        &#laserlife { }
        // Dovac Pages Specific Styles
        &#dovac { }
        // Inline Pages Specific Styles
        &#inline { }
    }*/
}
